<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email</title>
</head>
<body>
    <div class="ui row grid">
    <h2>Отправить {{ filename }}</h2>
    <a href = "/">Назад на главную страницу</a>
    <form class="ui form" action="Email" method="post">
        <div class="field">
        <label for="username">Введите ваш логин:</label>
	    <input type="text" name="username">
        </div>
        <div class="field">
        <label for="password">Ввeдите ваш пароль:</label>
	    <input type="password" name="password">
        </div>
        <div class="field">
        <label for="to">Ввeдите email получателя:</label>
        <input type="text" list="emails" />
            <datalist id="emails">
                {% for email in contragents %}
                <option>{{ email }}</option>
                {% endfor %}
            </datalist>
        </div>
        <div class="field">
        <label for="subject">Ввeдите тему письма:</label>
	    <input type="text" name="subject">
        </div>
        <div class="field">
        <label for="text">Введите текст письма:</label>
	    <input type="text" name="text">
        </div>
        <div class="field">
	    <input type="submit">
        </div>
    </form>
    </div>
</body>
</html>